* {
  box-sizing: border-box;
}

:root {
  --primary-color: #fff;
  --text-orange: #FF5403;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #131316;
}

.container {
  display: flex;
  /* max-width: 1100px; */
}

.main-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  flex-grow: 4;
  
  /* justify-content: space-evenly; */
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 3px #EFF1F6 solid;
  /* max-width: 40%; */
  padding: 1rem;

}

.logo {
  margin-bottom: 10px;
  padding: 2.5rem 0.5rem;
  width: 100px;
}

/* .logo img {
  width: 50px;

} */


.items,
.item-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #4D5760;
  /* width: 500px; */
  /* margin: 0; */
}

.items img {
  padding: 0;
  margin: 0;
  width: 15px;
}

.items .item-list a, 
.other {
  text-decoration: none;
  padding: 1rem;
  color: #4D5760;
}

.item-text {
  padding: 0 0.6rem;
  font-weight: bold;
}

.item-list a:active,
.item-list a:hover,
.item-list a:focus {
  color: var(--text-orange);
  border-left: 2px var(--text-orange) solid;
}

.user {
  margin-top: 30px;
  padding-top: 30px;
}

.avatar {
  padding: 1rem;
  padding-right: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar img {
  border-radius: 100%;
}

.user a{
  text-decoration: none;
  color: #4D5760;
}

/* .header {
  padding: 1rem 2rem;
} */

.chartheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right a {
  color: var(--text-orange);
  text-decoration: none;
}

.right a:hover,
.right a:focus,
.right a:active{
  text-decoration: underline;
}